<div style="border: 1px solid #333; padding: 10px">
  <h1 style="color:#333; border:1px solid #666">Bienvenido, <%= @name %>.</h1>
  <p>En esta aplicacion web permitimos expresar sus ideas libremente.</p>
</div>